@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
}

.header {
    margin: 0px;
}

h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    color: white;
    font-weight:600;
}

.inline-block {
    display: inline-block;
}

/*title card styling*/
.heading {
    margin-left: 50px;
    height: 250px;
}

.name {
    font-weight: 500;
    margin-top: 50px;
}

.title {
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bg-color-name-title {
    background-color: rgb(116, 116, 113);
    color: rgb(255, 255, 255);
    margin-right: 0px;
}

/*menu items styling*/
.menuitem {
    height: 120px;
    text-align: center;
    padding: 0px;
    font-size: 14px;
}

/*menu link styling*/
.menuitem a {
    color: white;
    text-decoration: none;
}

.menuitem:hover,
.menuitem:hover span,
.menuitem:hover i {
    color: gold;
    cursor: pointer;
}

.hvr-sweep-to-bottom:before{
    background: rgba(0, 0, 0, 0.2)
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menuitem a i {
    color: white;
    margin: 3px;
    display: block;
    padding-top: 30px;
    font-size: 26px;
}

/*menu colour syyling*/
.ui-menu-color-home {
    background-color: rgb(31, 54, 61);
}

.ui-menu-color-CV {
    background-color: rgb(124, 144, 160);
}

.ui-menu-color-contact {
    background-color:rgb(61, 63, 63);
}

.ui-menu-color-download {
    background-color: rgb(96, 113, 141);
}

/*styling to remove gutters caused by bootstrap styling*/
.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

.logo {
    background: url("../images/test-image.jpg");
    background-size: cover;
    background-position: center;
    min-height: px;

    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

#nav {
    margin: 0px;
}

/*contact info styling*/


.bg-color-personal-info {
    background-color: rgb(31, 54, 61);
    color: white;
}

/*alternative personal info styling*/
.key{
    font-size: x-large;
    font-weight: 600;
}

.value {
    font-weight: large;
    font-size: large;
}



/*alternative personal info styling
.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}
*/



/*reasons styling*/
.bg-color-three-reasons {
    background-color: white;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.history-heading,
.section-heading {
    font-weight: 600;
    font-size: xx-large;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*reasons icons*/
.three-reasons-icon {
    font-size: 26px;
}

.three-reasons-heading {
    margin-bottom: 15px;

}


/*footer styling*/
footer {
    background: rgb(116, 116, 113);
    min-height: 120px;
    color: white;
    text-align: center;
}

.cv-pdf i {
    font-size: 18px;
    color: white;
    text-align: center;
    padding-left: 5px;
    transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

.cv-pdf i:hover {
    color: gold;
}

.external-links li {
    padding: 8px;
}

.external-links li a i {
    width: 35px;
    height: 35px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: white;
    background: rgb(31, 54, 61);
    transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

.external-links li a i:hover {
    color: gold;
}

#footer-details {
    padding: 20px;
}


/*work history styling*/
.bg-color-work-history {
    background-color: rgb(124, 144, 160);
    color: white;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: white;
}

/*proficiencies styling*/
.prof-icons-section {
    margin-bottom: 15px;
}

.prof-icons {
    padding: 10px;
    font-size: 26px;
    margin-right: 40px;
}

.icon-titles {
    font-family: 'Rajdhani', sans-serif;
}

/*contact page styling*/
.bg-color-contact {
    background-color: white;
}

/*form styling*/
.contact-heading {
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}