@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
}

.header {
    margin: 0px;
}

/*title card styling*/
.heading {
    margin-left: 50px;
}

.name {
    font-weight: 500;
    margin-top: 50px;
}

.title {
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bg-color-name-title {
    background-color: rgb(116, 116, 113);
    color: rgb(255, 255, 255);
    margin-right: 0px;
}

/*menu items styling*/
.menuitem {
    height: 120px;
    text-align: center;
    padding: 0px;
    font-size: 14px;
}

/*menu link styling*/
.menuitem a {
    color: white;
    text-decoration: none;
}

.menuitem:hover,
.menuitem:hover span,
.menuitem:hover i {
    color: gold;
    cursor: pointer;
}

.hvr-sweep-to-bottom:before{
    background: rgba(0, 0, 0, 0.2)
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menuitem a i {
    color: white;
    margin: 3px;
    display: block;
    padding-top: 30px;
    font-size: 26px;
}

/*menu colour syyling*/
.ui-menu-color-home {
    background-color: rgb(31, 54, 61);
}

.ui-menu-color-CV {
    background-color: rgb(124, 144, 160);
}

.ui-menu-color-contact {
    background-color:rgb(61, 63, 63);
}

.ui-menu-color-download {
    background-color: rgb(96, 113, 141);
}

/*styling to remove gutters caused by bootstrap styling*/
.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

.logo {
    background: url("../images/test-image.jpg");
    background-size: cover;
    background-position: center;
    min-height: 290px;
    max-width: 485px;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

#nav {
    margin: 0px;
}
